@model MyBookProject.Models.User
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Find out your UserId  By Entering Few Details !! </h2>

<div style="margin-bottom:10px;">

    @Html.ActionLink("If Forgot Password ,Please Click On ME", "Forgot", "User", new { @class = "btn btn-primary" })

</div>



@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
{
<div class="panel panel-body panel-default" style="background-image:linear-gradient(45deg,#bebed1,#dec2ae)">



    @Html.AntiForgeryToken()
    <div class="form-group" style=" font-family:sans-serif; font-size:15px;">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 " })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />



    <div class="form-group" style="font-family:sans-serif; font-size:15px;">
        @Html.LabelFor(model => model.Contact_Number, htmlAttributes: new { @class = "control-label col-md-2 " })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Contact_Number, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Contact_Number, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />

    <div class="form-group" style="font-family:sans-serif; font-size:15px;">
        @Html.LabelFor(model => model.Secret, htmlAttributes: new { @class = "control-label col-md-2 " })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Secret, new { htmlAttributes = new { @class = "form-control " } })
            @Html.ValidationMessageFor(model => model.Secret, "", new { @class = "text-danger" })
        </div>
    </div>

   
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit" class="btn btn-success" />
        <input type="reset" value="clear" class="btn btn-success" />
    </div>
    <h3 style="color:#8f0606; font-family:monospace sans-serif;">@ViewBag.Message</h3>
</div>

    @Html.ActionLink("Back To Login ", "Login", "User");

    <hr />

}

