@model MyBookProject.Models.Book

@{
    ViewBag.Title = "UpdateBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UpdateBook</h2>

@using (Html.BeginForm("Save", "Admin", FormMethod.Post, new {id = Model.BookId }))
{
    @Html.AntiForgeryToken()
    <hr />

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.BookName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book_des, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Book_des, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Book_des, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book_Auth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Book_Auth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Book_Auth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book_Cat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Book_Cat, new List<SelectListItem>
                {
                      new SelectListItem { Text = "Sci-fi", Value = "Sci-fi", Selected=true},
                      new SelectListItem { Text = "Novels", Value = "Novel"},
                      new SelectListItem { Text = "Comics", Value = "Comic"},
                      new SelectListItem { Text = "Fiction", Value = "Fiction"},
                      new SelectListItem { Text = "Personality Development", Value = "Personal Development"},
                      new SelectListItem { Text = "Kids-book", Value = "Kids-book"},

                })

                @Html.ValidationMessageFor(model => model.Book_Cat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book_Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding: 4px 16px;">
                E-Book @Html.RadioButtonFor(model => model.Book_Type, "E-Book", new { htmlAttributes = new { @class = "form-control" }, name = "type", onclick = "fun();" })
                Hard Copy @Html.RadioButtonFor(model => model.Book_Type, "Hard Copy", new { htmlAttributes = new { @class = "form-control" }, name = "type", onclick = "fun();" })
                @Html.ValidationMessageFor(model => model.Book_Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book_Opt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="padding: 4px 16px;">
                Rent @Html.RadioButtonFor(model => model.Book_Opt, "Rent", new { htmlAttributes = new { @class = "form-control" }, name = "type", onclick = "fun();" })
                Buy @Html.RadioButtonFor(model => model.Book_Opt, "Buy", new { htmlAttributes = new { @class = "form-control" }, name = "type", onclick = "fun();" })
                @Html.ValidationMessageFor(model => model.Book_Opt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-default" />
            </div>
        </div>
    </div>

    <h4 style="color:blueviolet">@ViewBag.Message</h4>
}


